<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Widget - Classificar Artigos </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- <p>Simple table with project listing with progress and editing options</p> -->
                <!-- start project list -->
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 20%">Título</th>
                            <th style="width: 20%">Autor</th>
                            <th>Palavras-Chave</th>
                            <th>Revista</th>
                            <!-- <th>Opções</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>
                                <a href="#">Zu Platons künstlerischer Bestimmung der Philosophie: die Dialoge als höchste Form von Dichtung</a>
                                <br />
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <a>
                                M. R. Engler
                                </a>
                            </td>
                            <td class="project_progress">
                                <a>Philosophie, Dialoge, Form, Dichtung </a>
                            </td>
                            <td>
                                <a>Archai: Revista de estudos sobre as origens do pensamento ocidental</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a href="#">Zu Platons künstlerischer Bestimmung der Philosophie: die Dialoge als höchste Form von Dichtung</a>
                                <br />
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <a>
                                M. R. Engler
                                </a>
                            </td>
                            <td>
                                <a>Philosophie, Dialoge, Form, Dichtung </a>
                            </td>
                            <td>
                                <a>Archai: Revista de estudos sobre as origens do pensamento ocidental</a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a href="#">Zu Platons künstlerischer Bestimmung der Philosophie: die Dialoge als höchste Form von Dichtung</a>
                                <br />
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <a>
                                M. R. Engler
                                </a>
                            </td>
                            <td class="project_progress">
                                <a>Philosophie, Dialoge, Form, Dichtung </a>
                            </td>
                            <td>
                                <a>Archai: Revista de estudos sobre as origens do pensamento ocidental</a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a href="#">Zu Platons künstlerischer Bestimmung der Philosophie: die Dialoge als höchste Form von Dichtung</a>
                                <br />
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <a>
                                M. R. Engler
                                </a>
                            </td>
                            <td>
                                <a>Philosophie, Dialoge, Form, Dichtung </a>
                            </td>
                            <td>
                                <a>Archai: Revista de estudos sobre as origens do pensamento ocidental</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- end project list -->
            </div>
        </div>
    </div>
</div>

<div class="row">
<textarea id="textarea" class="example" rows="1" style="width: 400px; padding-left: 177.984px; padding-top: 3px;"></textarea>
</div>