<div class="container body">
  <div class="main_container">
    <%= render 'side_menu' %>

    <!-- top navigation -->
    <%= render 'top_nav' %>

    <!-- page content -->
    <div class="right_col" role="main">
      <%= render 'tiles_categories' %>
      <hr/>

      <%= render 'categories_new_form' %>


    </div>
    <!-- /page content -->
  </div>
</div>
