<header>
  <nav>
    <div class="nav-wrapper">
      <nav class="text-white teal base  padding-left-logo">
      <a href="/" class="brand-logo text-logo">PhilBrasil</a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/" >PhilBrasil</a></li>
          <li><%= link_to 'Atualizações', 'atualizacoes'%></li>
          <li><%= link_to 'Blog', 'https://philbrasil.github.io/' %></li>
          <li><%= link_to 'Colabore', 'colabore'%></li>
          <li><%= link_to 'Sobre', 'sobre' %></li>
        </ul>
      </nav>
    </div>
  </nav>
</header>