<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>

<!-- this is to move the labels that stays fixed over placeholders -->
<script type="text/javascript">
	$(document).ready(function() {
		Materialize.updateTextFields();
	});
</script>