html{
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
p {
    text-align: justify;
    text-indent: 50px;
}

.row {
    width: 100%;
}
.text-logo {
    font-family: 'Playfair Display', serif;
}
.philnav {
    overflow: hidden;
    display: block;
    text-align: center;
    color: gray;
    text-decoration: none;
    line-height: 20px;
    width: 100%;
}
.philnav ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}
.philnav li {
    display: inline;
    text-align: center;
    padding: 20px;
}
.philnav a {
    padding: 10px;
    width: 100%;
    color: gray;
}
.philnav .text-logo-center-menu {
    font-size: 200%;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

.col > form {
    width: 100%;
}

form > .btn-block {
    width: 100%;
}

.col > .btn {
   width: 100%;
}

.desaturate {
    filter: grayscale(100%);
}

.center {
    text-align: center;
}

.pb-text-justify {
    text-align: justify;
    text-justify: inter-word;
}