<%= render 'articles/header' %>

<main>
	<div class="container">
  <div class="row">

<div class="col s12 m9 l10">
 <h3 class="light">História</h3>

        <p class="caption text-justify">O PhilBrasil é um portal sem fins lucrativos inspirado no portal internacional <a href="http://philpapers.org/" class="link=about">Philpapers</a>. O projeto começou em 2012, com a criação de um banco de dados destinado à indexação de textos de filosofia traduzidos para o português. Ao fim de 2012, o experimento foi movido para o endereço atual e passou a englobar não apenas traduções, mas também trabalhos originais publicados em revistas brasileiras, trabalhos escritos por filósofos brasileiros ou atuando no Brasil e trabalhos em português em geral.</p> 
    
	
   <!--  About the Team-->
   <div id="team" class="section scrollspy">
     <div class="row">
       <h5 class="header">Colaboradores</h5>
       <p class="caption"></p>
   	 </div>
   </div>

     <div class="row">
       <div class="col s12 m3 center-on-small-only">
         <div class="image-container">
            <img src="marcelo.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->			   
         </div>
       </div>
       <div class="col s12 m9">
         <h4>Marcelo Fischborn</h4>
         <p class="text-justify">É doutorando em Filosofia na Universidade Federal de Santa Maria (UFSM), e foi pesquisador visitante no departamento de filosofia da Universidade Estadual da Flórida entre setembro de 2015 e maio de 2016. Sua pesquisa atual foca-se em questões sobre livre-arbítrio, responsabilidade, punição e criminalidade. Tem mestrado em Filosofia também pela UFSM, para o qual escreveu uma dissertação sobre o monismo anômalo de Donald Davidson.</p>
       <div class="card-action">
         <a href="http://lattes.cnpq.br/3713284621644753">Lattes</a>
       </div>
       </div>
     </div>

     <div class="row">
       <div class="col s12 m3 center-on-small-only">
           <div class="image-container">	   
            <img src="gilson.jpeg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->			   
          </div>
       </div>
       <div class="col s12 m9">
         <h4>Gilson Olegario</h4>
         <p class="text-justify">É doutorando pelo Programa de Pós-Graduação em Filosofia da Universidade Estadual de Campinas - UNICAMP. Possui graduação em Filosofia Licenciatura Plena pela Universidade Federal de Santa Maria (2011) e mestrado em Filosofia pelo Programa de Pós-Graduação em Filosofia da mesma universidade (PPGF-UFSM) (2013).</p>
         <div class="card-action">
           <a href="http://lattes.cnpq.br/3713284621644753">Lattes</a>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col s12 m3 center-on-small-only">
           <div class="image-container">	   
            <img src="carlos.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->	
           </div>
       </div>
       <div class="col s12 m9">
         <h4>Carlos Gregoreki</h4>
         <p class="text-justify">Possui o título de Bacharel em Engenharia de Computação com ênfase em Sistemas Computacionais pela Universidade Estadual de Campinas - UNICAMP. </p>
         <div class="card-action">
           <a href="http://lattes.cnpq.br/3713284621644753">Lattes</a>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col s12 m3 center-on-small-only">
           <div class="image-container">	   
            <img src="cesar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->	
           </div>
       </div>
       <div class="col s12 m9">
         <h4>César Schirmer dos Santos</h4>
         <p class="text-justify">É Professor adjunto na Universidade Federal de Santa Maria. Possui graduação em Filosofia (1993), mestrado em Filosofia (2003) e doutorado em Filosofia (2010) pela Universidade Federal do Rio Grande do Sul. Tem experiência na área de Filosofia, com ênfase em Epistemologia, Metafísica, Filosofia da Mente e História da Filosofia Moderna, atuando principalmente nos seguintes temas: teoria anti-individualista da mente e da intencionalidade, epistemologia da memória e metafísica do tempo.</p>
         <div class="card-action">
           <a href="http://lattes.cnpq.br/3713284621644753">Lattes</a>
         </div>
       </div>
     </div>
     
     <div class="row">
       <div class="col s12 m3 center-on-small-only">
           <div class="image-container">	   
            <img src="severo.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->	
           </div>
       </div>
       <div class="col s12 m9">
         <h4>Rogério Passos Severo</h4>
         <p class="text-justify">É professor adjunto no Departamento de Filosofia da Universidade Federal do Rio Grande do Sul. PhD em filosofia pela University of Illinois at Chicago. Atua nas áreas de filosofia da ciência, filosofia da linguagem, metafísica, epistemologia e fillosofia da religião, em especial Quine, subdeterminação de teorias, indeterminação da tradução, teorias do espaço, história da filosofia analítica, Kant e indexicais.</p>
         <div class="card-action">
           <a href="http://lattes.cnpq.br/3713284621644753">Lattes</a>
         </div>
       </div>
     </div>



      <div class="col s12 m9">
		  <h5 class="light">Verbetes</h5>
		  
            <ul class="no-mark-list">
               <li>“Donald Davidson”, por <a href="#">Marcelo Fischborn</a></li>
               <li>“Paul Ricœur”, por <a href="#">Vinicius Sanfelice</a></li>
               <li>“Søren Kierkegaard”, por <a href="#">Juliano Barcelos Alves</a></li>
            </ul>
	 </div>

	  
      <div class="col s12 m9">
		  <h5 class="light">Categorização</h5>	  
            <ul class="no-mark-list">
               <li>“Filosofia da religião”, “Resenhas e livros” e “Ludwig Wittgenstein”, por <a href="#">Alison Mandeli</a></li>
               <li>“Ação e livre-arbítrio”, “Causação mental” e “Monismo anômalo”, por <a href="#">Marcelo Fischborn</a></li>
               <li>“Filosofia da Linguagem”, “Filosofia da lógica”, “Metafísica” e “Propriedades”, por <a href="#">Renato Mendes Rocha</a></li>
               <li></li>
            </ul>
	 </div>

</div>
</div>
</main>

<%= render 'articles/footer' %>

<!--  Scripts-->

<script>
   // Show sideNav
   $('.button-collapse').sideNav('show');
   // Hide sideNav
   $('.button-collapse').sideNav('hide');
   
   
   
   $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 240
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
      }
    );   
</script>