<div class="container">
    <div class="row" style="padding-top: 15px;">
    <hr/>
        <div class="col s12 center">
            
            <font class="text-logo">PhilBrasil</font> - 2017
        </div>
    </div>
</div>