<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="philnav" style="padding-top: 20px;">
                <ul>
                    <li><a href="/atualizacoes">Atualizações</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/" class="text-logo text-logo-center-menu">PhilBrasil</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/colabore">Colabore</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>