<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>

    <title>PhilBrasil - Admin Module</title>

  </head>

  <body class="nav-md">
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript" charset="utf-8">
        function changeModalParams(articleJson, type) {
            $('.pb-js-title').text(articleJson['title']);
            $('.pb-js-author').text(articleJson['author']);
            $('.pb-js-year').text(articleJson['year']);
            $('.pb-js-magazine').text(articleJson['magazine']);
            $('.pb-js-id').val(articleJson['id']);
            $('.pb-js-type').val(type);

        }
        $('#formdelete').submit(function () {
            var valuesToSubmit = $(this).serialize();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'), //sumbits it to the given url of the form
                data: valuesToSubmit,
                dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
            }).success(function (json) {
                if (json['status'] == 'success'){
                    location.reload();
                } else {
                    alert('FUCK U');
                }
                console.log("response", json);
            });
            return false; // prevents normal behaviour
        });

        function changeModalEditArticleParams(articleJson, type){
            $('.pb-fr-title').val(articleJson['title']);
            $('.pb-fr-author').val(articleJson['author']);
            $('.pb-fr-year').val(articleJson['year']);
            $('.pb-fr-magazine').val(articleJson['magazine']);
            $('.pb-fr-id').val(articleJson['id']);
            $('.pb-fr-type').val(type);
            $('.pb-fr-issue').val(articleJson['issue']);
            $('.pb-fr-vol-number').val(articleJson['vol_number']);
            $('.pb-fr-fist-page').val(articleJson['first_page']);
            $('.pb-fr-last-page').val(articleJson['last_page']);
            $('.pb-fr-translator').val(articleJson['translator']);
            $('.pb-fr-link').val(articleJson['link']);
            $('.pb-fr-keywords').val(articleJson['keywords']);

            originalCategoriesList = articleJson['categories'];

            selectedIds = [];
            originalCategoriesList.forEach(function(item, index){
              selectedIds.push(item['id']);
            });
            $('.pb-fr-categories').val(selectedIds);
        }

    </script>

  </body>
</html>
